# Built-in
/AppData/
/Contacts/
/Desktop/
/Documents/
/Downloads/
/Favorites/
/Links/
/Music/
/Pictures/
/Videos/
/Saved Games/
/Searches/
ntuser*

# Config we don't want to store
/.designer/
/.gem/
/.ssh/
/.VirtualBox/
/mplayer/
.gemrc
.minttyrc
_netrc

# Auto generated
.bash_history
.rnd
.viminfo
_viminfo

# Vim swap
*.swp
