# Built-in
/AppData/
/Application Data/
/Contacts/
/Cookies/
/Desktop/
/Documents/
/Downloads/
/Favorites/
/IECompatCache/
/IETldCache/
/Links/
/Local Settings/
/My Documents/
/Music/
/Pictures/
/PrivacIE/
/Recent/
/Videos/
/Saved Games/
/Searches/
/SendTo/
/Start Menu/
/Templates/
/UserData/
ntuser*

# Config we don't want to store
/.designer/
/.eclipse/
/.gem/
/.gimp-2.6/
/.nbi/
/.netbeans/
/.ssh/
/.subversion/
/.VirtualBox/
/.thumbnails/
/mplayer/
.gemrc
.recently-used.xbel
.minttyrc
_netrc

# Auto generated
.bash_history
.rnd
.viminfo
_viminfo

# Vim swap
*.swp
